
p{
    color: rgb(66, 105, 84);
}


body{
    margin: 0;
    box-sizing: border-box;
    background-image: url('../images/green-stripes-background.jpg');
    background-size: auto cover;
    background-attachment: fixed;
}


h1{font-family: "Merriweather", serif;
    font-weight: bolder;
    text-align: center;
    font-size: 170px;
    position: absolute;
    top: 20%;
    left: 235px
}
h2{font-family: "Merriweather", serif;
    text-align: center;
    font-size: 40px;
    top: 57%;
    left: 455px
}

/*SOBRE NÓS*/

.texto{
    
    width: 20%;
    position: absolute;
}

.about{
    width: 90%;
    display: flex;
    align-items: center;
    background-color: rgb(224, 219, 157);
    margin: 20px auto;
    border-radius: 10px;
}
.texto h2{
    padding: 30px;
    background-color: black;
}

.sobre figure{               
    width: 35%;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}

.sobre img{
    width: 100%;                          
    border-radius: 10px;       
}


.info p{
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    font-size: 23px;
    margin-left: 40px;
    
}

.info{              
    width: 60%; 
}


/*MENU*/

.top-site h2{
    position: absolute;
}

.top-site a{font-family: "Ubuntu", sans-serif;
    font-weight: bolder;
    font-size: 55px;
    text-decoration: none;
    position: absolute;
    text-align: center;
    top: 72%;
    left: 590px;
    background-color: rgba(107, 164, 134, 0.5);
    border: 3px solid rgba(107, 164, 134, 0.5);
    padding: 15px;
    border-radius: 35px;
    transition: 0.3s;
}

.top-site a:hover{
    background-color: rgba(66, 105, 84, 0);
}

h1,h2{margin: 0;}
*{color: white}    


.imagem img{
    width: 100%;
    align-content: center;
    display: block
}

.top-site{
    position: relative;
    width: 100%;
    max-width: fit-content
}

.links a{
    font-family: "Ubuntu", sans-serif;
    font-weight: bolder;
    text-decoration: none;
    font-size: 50px;
    margin-right: 50px;
    color: black;
}

.links{
    display: flex;
    align-items: center;
    background-color: rgb(253, 253, 253);
    justify-content: space-between;
}


/*PROJETO VERDE*/

.verde h2{
    margin-left: 205px;
    width: 60%;
    padding: 50px;
    background-color: black;
    color: rgb(224, 219, 157);
    font-size: 55px;
    border-radius: 5px;
    margin-bottom: 0;
}

.evento{
    width: 90%;
    margin: auto;
    background-color: rgb(166, 200, 182);
    border-radius: 20px;
    align-items: center;
    margin: 20px auto;
}

.evento p{
    color: rgb(66, 105, 84);
    display: flex;
    align-items: center;
}

.expo{
    margin-top: 1px;
    display: flex;
    width: 80%;
    margin-left: 110px;
    margin-bottom: 140px;

}

.expo p{
    font-family: "Ubuntu", sans-serif;
    font-size: 23px;
    font-weight: 500;
    margin: 0 30px;
}

.evento div{
    height: 300px;
}

.slider{
    display: flex;
    padding: 25px 100px;
    justify-content: space-between;
    animation: slide 30s infinite linear;
    align-items: center;
    background-color: rgb(66, 105, 84);
}

.slider img{
    width: 100%;
}
.slider figure{
    margin: 0;
    margin-right: 25px;
    background-color: rgb(166, 200, 182);
}


@keyframes slider{
    from{left:70%}
    to{left:-120%}
}


/*BENEFICIOS*/

.icon div{
    padding: 30px 90px;
    background-color: rgb(107, 164, 134);
    border-radius: 10px;
    border: 10px;
    border-color: rgb(66, 105, 84);
    width: 25%;
    margin: 0 5%
}


.benefícios{
    width: 90%;
    margin: 20px auto;
    height: 900px;
    background-color: rgb(224, 219, 157);
    border-radius: 20px;
    
}

.benefícios h2{
    padding: 30px;
    background-color: rgb(66, 105, 84);
}


.thunder{
    width: 90%;
    display:flex;
    align-items: center;
    justify-content:center;
    margin-left: 16% 
     
}

.saude{
    width: 90%;
    display:flex;
    align-items: center;
    justify-content:center;
    margin-top:23px;
    margin-right: 70px;
    
}

.icon{
    margin-left: 200px;
    margin-top: 67px;
    width: 65%;
    margin-bottom: 95px;
}

.icon p{
    color: black;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline;
}

.razoes{
    text-align: left;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    border: 5px solid rgb(66, 105, 84);
}

.razoes p{
  
    font-family: "Ubuntu", sans-serif;
    color: black;
    font-weight: 400;
    font-size: 19px;
}

/*FORMS*/

.forms{
    width: 40%;
    background-color: white;
    border-radius: 2px;
    height: 565px;
    margin-left: 455px;
}

.forms h2{
    margin-left: 80px;
    text-align: center;
    width: 70%;
    color: white;
    font-weight: 400;
    background-color: rgb(107, 164, 134);
    padding: 10px;
    border-radius: 200px;
}

.escreve{
    width: 10%;
}

.input-element{
    background-color: rgb(166, 200, 182);
    border-radius: 35px;
    border-color: rgb(66, 105, 84);
    display: block;
    width: 90%;
    padding: 15px 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 20px;
    font-family:"Ubuntu", sans-serif;
    font-weight: bold; 
}

.btn{
    background-color: black;
    margin-left: 260px;
    width: 65px;
    height: 30px;
    font-family:"Ubuntu", sans-serif;
    font-weight: bold; 
    bottom: 200px;
}


/*FOOTER*/

.direitos{
    align-content: center;
    width: 100%;
    background-color: black;
}

.contactos{
    font-family: "Merriweather", serif;
    color: white;
    text-align: center;
    margin-left: 30px;
}

.aqui p, a{
    margin-top: 0;
    margin-bottom: 5px;
}

.aqui a{
    text-decoration:underline;
    text-align: center;
    display: flex;
    margin-left: 700px;
}

.contactos{
    margin-left: 20px;
} 

.contactos p{
    color: white;
}

.serve p{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
}

.direitos h2{
    font-family: "Ubuntu", sans-serif;
    font-weight: bolder;
    padding-top: 40px;
    color: rgb(107, 164, 134);
    font-size: 23px;
    margin-bottom: 40px;
}

.reserva p{
    text-align: center;
    color: white;
}


